*{
    margin: 0;padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#DivPage{
    width: 100%;
    height: 100%;
}
#Head{
    background-color: rgb(218,69,80);
    width: 100%;
    height: 15%;
}
#NavHeader{
    margin: 0;padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.LogoKD{
    width: 8%;
    height: 100%;
    margin: 1%;
}
#NavHeader  .Menu{
    width: 90%;
    margin: 0;padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.MenuSite{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 4%;
}
ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.LogoKD img{
    height: 100%;
    width: 90%;
    display: inline-block;
}
.Sec1{
    background-color:rgb(218,69,80);
    background-image: url("../Img/hero-background.jpg");
    background-size: 100%;
    width: 100%;
    height: auto;
}
.Sec1 p{
    text-align: center;
    color: rgb(255, 255, 255);
}
.Sec1 p span{
    color: rgb(255,230,77);
}
.FirstPara{
    font-size: 5rem;
    font-weight:bold;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    padding-top: 4%;
}
.ParaBtn{
    margin: 3%;
    width: 90%;
}
.BtnDemander, .BtnPlanifier{
    text-decoration: none;
    border: 3px solid white;
    border-radius: 18px;
    background-color: white;
    
    color: rgb(218,69,80);
    font-size: 1.5em;
    margin: 0.7%;
    padding: 1.2%;
}
.BtnDemander:hover, .BtnPlanifier:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.EndPara{
    font-size: 1.2em;
    width: 61%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.4%;
}
.ParaIconeTech{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 1.3%;
}
.ParaIconeTech img{
    width: 5%;
    height: 3%;
    opacity: 0.7;
}
/*Section 2*/
.Sec2{
    background-color: rgb(241,240,243);
    width: 100%;
    height: auto;
}