*{
    margin: 0;padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#DivPage{
    width: 100%;
    height: 100%;
}
#Corps{
    padding-top: 5.5%;
}
#Head{
    background-color: rgb(218,69,80);
    background-color: #d92950;
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 0;
}
#NavHeader{
    margin: 0;padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.LogoKD{
    width: 8%;
    height: 100%;
    margin: 1%;
}
#NavHeader  .Menu{
    width: 90%;
    margin: 0;padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.MenuSite{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 4%;
}
ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.LogoKD img{
    height: 100%;
    width: 90%;
    display: inline-block;
}
/*Begin Sec1*/
.Sec1{
    background-color:rgb(218,69,80);
    background-image: url("../Img/hero-background.jpg");
    background-size: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 7%;
}
.Sec1 p{
    text-align: center;
    color: rgb(255, 255, 255);
}
.Sec1 p span{
    color: rgb(255,230,77);
}
.FirstPara{
    /* font-size: 5rem; */
    font-weight:900;
    line-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    padding-top: 4%;
}
.ParaBtn{
    margin: 3%;
    width: 90%;
}
.BtnDemander, .BtnPlanifier{
    text-decoration: none;
    border: 3px solid white;
    border-radius: 18px;
    background-color: white;
    
    color: rgb(218,69,80);
    color: #d92950;
    font-size: 1.5em;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0.7%;
    padding: 1.2%;
}
.BtnDemander:hover, .BtnPlanifier:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.EndPara{
    font-size: 1.2em;
    width: 61%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.4%;
}
.DivIconeTech{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 1.3%;
    padding-top: 5%;
}
.DivIconeTech img{
    width: 5%;
    height: 3%;
    opacity: 0.7;
}
/*Section 2*/
.Sec2{
    background-color: rgb(241,240,243);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5%;
}
.Div1-Sec2{
    width: 45%;
    height: 50%;
    position: relative;
}
.Div1-1-Img{
    margin-left: -10%;
    width: 80%;
    height: 90%;
}
.Div1-1-Img img{
    width: 97%;
    height: 100%;
    border: 0px solid rgb(241,240,243);
    border-radius: 30px;
}
.Div1-2-Img{
    position: relative;
    left:31.8%;
    width: 75%;
    height: 65%;
    top: -167px;
}
.Div1-2-Img img{
    width: 80%;
    height: 90%;
    border: 0px solid rgb(241,240,243);
    border-radius: 30px;
}
.Div2-Sec2{
    width: 55%;
    height: auto;
}
.Div2-Sec2 h1{
    color: rgb(66,67,69);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.DivQualif{
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.Qualif1, .Qualif2, .Qualif3, .Qualif4{
    width: 40%;
    margin: 3%;
    text-align: center;
}
.Paper, .Monde, .Coupe, .Message{
    width: 15%;
    height: 50%;
    padding-bottom: 10%;
    border-bottom: 2px solid rgb(218,69,80);
}
h5{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.2em; */
    font-size: 20px;
    color: rgb(66,67,69);
    font-weight: bold;
    margin: 2%;
}
.Message +  h5{
    width: 70%;
    margin: auto;
}
/*Begin Sec3*/
.Sec3{
    width: 100%;
    height: 15%;
    background-color:rgb(218,69,80) ;
    padding-top: 10%;
    margin: auto;
}
.Div1-Sec3{
    width: 90%;
    height: 5%;
    text-align: center;
    margin: auto;
}
.Div1-Sec3 h1{
    width: auto;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.Div2-Sec3-Container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 5%;
}
.Div2-Sec3-Container div{
    width: 80%;
    height: 50%;
    margin: 3%;
    
}
.ParteneurImg{
    width: 100%;
    height: 100;
}
/*Begin Sec4*/
.Sec4{
    width: 100%;
    height: 20%;
    padding-top: 3%;
    background-color: rgb(241,240,243);
    padding-bottom: 8%;
}
.Div1-Sec4{
    width: 90%;
    margin: auto;
}
.Div1-Sec4 h1{
    color: rgb(57,37,70);
    color: rgba(24, 0, 39, 0.87);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 4%;
}
.DivContainer-Sec4{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}
.Div2-Sec4, .Div3-Sec4{
    width: 48%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}
.Div2-Sec4{
    border-top: 8px solid rgb(255,230,77);
}
.Div3-Sec4{
    border-top: 8px solid rgb(218,69,80);
}
.SousDiv-Div2-Sec4, .SousDiv-Div3-Sec4{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7%;
}
.SousDiv-Div2-Sec4 h3, .SousDiv-Div3-Sec4 h3{
    text-align: center;
    padding-bottom: 4%;
    font-size: 2em;
    color: rgb(218,69,80);
}
.SousDiv-Div2-Sec4 p, .SousDiv-Div3-Sec4 p{
    color: rgb(66, 67, 69);
    opacity: 0.7;
    text-align: justify;
}
.SousDiv-Div2-Sec4 p{
    padding-top: 4%;
}
.SousDiv-Div2-Sec4 h3{
    padding: 2%;
}
.BtnDemarrer, .BtnEngager{
    width: 80%;
    text-decoration: none;
    border: 3px solid rgb(218,69,80);
    border-radius: 18px;
    background-color: rgb(218,69,80);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 4%;
    padding: 4%; 
}
.BtnDemander{
    margin: 6%;
}
.BtnDemarrer:hover, .BtnEngager:hover{
    background-color: transparent;
    color: rgb(218,69,80);
}
/*Begin Sec5*/
.Sec5{
    /* width: 100%;
    height: 30%; */
    background-color: #d92950;
    padding: 3%;
}
.Div1-Sec5{
    width: 80%;
    margin: auto;
    text-align: center;
}
.Div1-Sec5 h1{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 5%;
}
.Div2-Sec5{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 2%;
    overflow: hidden;
}
.Container-Sec5{
    width: 85%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 1%;
    margin-left: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: rgb(255, 255, 255);

}
.SousDiv-div1, .SousDiv-div2, .SousDiv-div3, .SousDiv-div4, .SousDiv-div5, .SousDiv-div6, .SousDiv-div7, .SousDiv-div8, .SousDiv-div9{
    width: 33%;
    height: 80%;
    margin: auto;
}
.ImgRealisation img{
    border: 0 solid white;
    border-radius: 19px;
}
.DivDetails, .ImgRealisation{
    width: 78%;
    height: 90%;
}
.DivDetailClient {
    width: 118%;
    align-content:space-around ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
.DivDetailClient > p, .PaysClient{
    display: inline-block;
}
.PaysClient{
    background-color: rgb(255, 255, 255);
    height: 3%;
    width: 35%;
    margin: 0;
    border: 0 solid white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PaysClient span{
    padding-left: 15px;
    color: #d92950;
}
.UE{
    width: auto;
}
.Container-Sec5 div a img{
    width: 330px;
    height: 412.5px;
}
.Img-PaysClient{
    width: 20px;
    height: 20px;
    border: 0px solid;
    border-radius: 50%;
}
.DivTechno{
    width: 118%;
    align-content:space-around ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EF4C58;
    margin-top: 5.836%;
}
.DivTechno p{
    color: white;
   
}
.ContainerTechno{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 11px;
}
.SousDiv-ContainerTechno{
    padding: 1%;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-size: 11px;
}
.SousDiv-ContainerTechno img, i{
    width: 11.92px;
    height: 11.92px;
}
.DetailClient, .DivTechno{
    opacity: 0.7;
}
.DetailClient a{
    color: white;
    text-decoration: none;
}
.DivBtn{
    transform: translateY(50%);
}
/* @-webkit-keyframes slide {
    
} */

/*Begin Sec6*/
.Sec6{
    width: 100%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-bottom: 7%;
}
.Div1-Sec6{
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
}
.Div1-Sec6 h1{
    color: rgb(66,67,69);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.Div2-Sec6{
    width: 85%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.SousDiv1-Sec6{
    width: 52%;
    height: auto;
}
.SousDiv2-Sec6{
    width: 43%;
    height: auto;
}
.HardSkills, .SoftSkills{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}
.HardSkills{
    background-color: #EF4C58;
    width: 94.5%;
    padding: 3%;
    color: rgb(255, 255, 255);
}
.SoftSkills{
    background-color: #331F40;
    width: 100%;
    padding: 3%;
    width: 94.5%;
    color: rgb(255, 255, 255);
    margin-bottom: 15%;
}
.SousDiv2{
    width: 100%;
    margin: auto;
    background-color: #F1F0F3;
    border: 0px solid;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
.Details-Hardskills{
    width: 80%;
    margin: auto;
    padding: 10%;
    background-color: #F1F0F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0px solid;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
.Technologie{
    width: 25%;
    height: 20%;
    margin: auto;
    padding-bottom: 4%;
    text-align: center;
}
.Technologie img{
    width: 40%;
    opacity: 1.5;
}
.Details-Softskills{
    width: 69%;
    padding-bottom: 24%;
    /* height: 80%; */
    /* margin: auto; */
    /* padding-bottom: 28%; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center; */
}
.DivListeSoft{
    width: 79%;
    /* margin-left: 15%; */
    transform: translateX(50%);
    /* margin: auto; */
    
    padding: 2%;
    background-color: rgb(155, 154, 158);
    border: 0px solid rgb(155, 154, 158) ;
    border-radius: 7%;
}
.DivListeSoft ol{
    width: 65%;
    padding: 10%;
}
.DivListeSoft ol li{
    /* padding: 2%; */
    /* margin: auto; */
}
.DivListeSoft ol {
}
/*Begin Sec7*/
.Sec7{
    background-color: #AF3953;
    width: 100%;
    height: 15%;
    padding-top: 5%;
    padding-bottom: 7%;
    color: white;
}
.Div1-Sec7{
    width: 80%;
    margin: auto;
}
.Div1-Sec7 h1{
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
}
.Div2-Sec7{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}
.DivAppel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.SousDivAppel{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DivAppel h4{
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 21px;
}
.ImgPret{
    width: 34px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15%;
    padding: 7%;
    margin-right: 14%;
    margin-bottom: 4%;
}
.Fleche-DivAppel{
    width: 34px;
    height: 26px;
}
.DivBtn-Sec7{
    width: 50%;
    height: 40%;
    margin: auto;
    text-align: center;
    padding: 2%;
}
.BtnPlanifier-Sec7{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 3px solid #DA4550;
    border-radius: 16px;
    background-color: #DA4550;
    padding: 3%;
}
.BtnPlanifier-Sec7:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
}
/*Begin Sec8*/
.Sec8{
    width: 100%;
    height: 20%;
    background-color: #F1F0F3;
    padding-top: 5%;
    padding-bottom: 7%;
}
.Container-Sec8{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.SousDiv1-Sec8{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Div1-SousDiv1{
    width: 100%;
}
.Div1-SousDiv1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #424345;
    margin: 0px 0px 48px;
}
.Strong-Sec8{
    color: #d92950;
}
.Div1-SousDiv1 p{
    margin-bottom: 5%;
}
.Div1-SousDiv1 p, .Div1-SousDiv2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #424345;
}
.Img-SousDiv1-Sec8{
    width: 100%;
    height: 130%;
    margin: 16px 0px;
}
.SousDiv2-Sec8{
    width: 48%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Div1-SousDiv2{
    width: 45%;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 19px;
    background-color: white;
    padding-left: 1%;
    padding-bottom: 14%;
    margin: 1%;
}
.case1, .case2{
    margin-bottom: 5%;
}
.Div1-SousDiv2 img{
    width: 50px;
    height: 50px;
}
.Div1-SousDiv2 h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 1%;
    color: #424345;
}
/*Begin Sec9*/
.Sec9{
    background-color: #111;
    width: 100%;
    height: 15%;
    padding-top: 5%;
    padding-bottom: 7%;
    color: white;
    text-align: center;
}
.H1-Sec9{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 50px;
}
.SousDiv2-Sec9{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
}
/*Begin Sec10*/
.Sec10{
    background-color: #FFF;
    width: 100%;
    height: 15%;
    padding-top: 5%;
    padding-bottom: 7%;
    text-align: center;
}
.Container-Sec10{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.SousDiv1-Sec10{
    width: 70%;
    margin: auto;
    padding: 0px 15px;
}
.H1-Sec10{
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 50px;
}
.SousDiv2-Sec10, .SousDiv3-Sec10{
    width: 85%;
    margin: auto;
}
.Div1-SousDiv2-Sec10, .Div1-SousDiv3-Sec10{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Div1-Soutenir{
    width: 23%;
    margin: 0px 0px 28px;
    text-align: left;
}
.Div1-Soutenir img{
    width: 270px;
    height: 168.75px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 19px;
}
.Div1-SousDiv2-Sec10 p{
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400; 
}
p .Strong-Sec10{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.SousDiv3-Soutenir{
    width: 23%;
}
/*Begin footer*/
footer{
    width: 100%;
    height: 45%;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: #2D2D2D;
}
.Container-Footer{
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Div1-Footer, .Div2-Footer{
    width: 48%;
    margin-bottom: 2%;
    /* height: 100%; */
}
address{
    color: #cbccce;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.SousDiv2-Div1-Footer{
    margin-top: 4%;
}
.SousDiv2-Div1-Footer a, .SousDiv3-Div1-Footer{
    color: red;
    text-decoration: none;
}
.Strong-Footer, .Strong-Div2-Footer{
    color: white;
    font-weight: 700;
    margin-bottom: 9%;
}
.SousDiv3-Div1-Footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4%;
}
.SousDiv3-Div1-Footer i{
    font-size: 200%;
    padding-right: 5%;
}
.Div2-Footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #cbccce;
}
.Strong-Div2-Footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.Formulaire-Newletters{
    display: flex;
    flex-direction: row;
}
.InputMail-Footer, .Btn-Footer{
    display: inline;
    margin-top: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 3%;
}
.InputMail-Footer{
    width: 60%;
    height: 10%;
}
.Btn-Footer{
    -webkit-appearance: none;
    appearance: none;
    color: rgb(255, 255, 255);
    border: 0px solid #DA4550;
    /* border-radius: 16px; */
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 3.2%;
    background-color:#DA4550;
}
.H6-Footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.H6-Footer{
    margin-top: 25%;
}
.H6-Footer a:hover{

}

/*Page Emploi*/
.sec{
    width: 100%;
    height: 45%;
    padding-top: 5%;
    padding-bottom: 7%;
}
.Div1-Sec1-Emploi, .Div1-Sec2-Emploi {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 0%;
}
.Div1-Sec1-Emploi h1, .Div1-Sec2-Emploi h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin: 0px 0px 48px;
}
.Div2-Sec1-Emploi{
    width: 85%;
    margin: auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
.SousDiv1-Div2-Emploi{
    width: 25%;
    margin: auto;
    padding: 3%;
    display: inline-block;
    background-color: #F1F0F3;
    margin-bottom: 3%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
}
.SousDiv1-Div2-Emploi h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 0px 0px 8px;
}
.SousDiv1-Div2-Emploi p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 48px; 
}
.Postuler{
    text-decoration: none;
    color: #ff046b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.Sec2-Emploi{
    background-color: #1D1B25;
}
.Div1-Sec2-Emploi h1{
    color: rgba(255, 255, 255, 0.87);
    font-size: 48px;
}
.Para-Emploi{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 2%;
}
.A-Sec2-Emploi{
    color: #d92950;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.Div2-Sec2-Emploi{
    width: 85%;
    margin: auto;
}
.ContainerFormulaire{
    color: rgb(255, 255, 255);
}
.Div1Form{
    width: 100%;
    height: auto;
    /* border: 3px solid #DA4550; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 9%;
}
.LeftFormulaire, .RightFormulaire{
    width: 48%;
    height: auto;
    /* border: 3px solid #6fda45; */
}
select{
    outline: none;
    width: 100%;
    border: none;
    height: 20%;
    background-color: #FFFFFF;
    border-bottom: 2px solid rgb(177, 177, 168);
}
.Div2Form{
    width: 100%;
    /* border: 3px solid #e9e615; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.Textarea-Formulaire{
    width: 100%;
}
.Btn-Envoyer{
    appearance: none;

    background-color:#DA4550;
    border: 0px solid #DA4550;
    border-radius: 15px;
    padding: 1.2%;
    margin-top: 2%;
    color: #FFF;
}
.Elemnt{
    appearance: none;

    width: 100%;
    height: 20%;
    border: Opx solid white;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
}