*{
    margin: 0;padding: 0;
    font-family: 'Montserrat1', sans-serif;
}
@font-face{
    font-family: 'Montserrat1';
    src: url('../Police/Montserrat/Montserrat-Black.ttf');
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#DivPage{
    width: 100%;
    height: 100%;
}
#Corps{
    padding-top: 5.5%;
}
#Head{
    background-color: rgb(218,69,80);
    width: 100%;
    /* height: 15%; */
    height: 12%;
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 0;
}
#NavHeader{
    margin: 0;padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.LogoKD{
    width: 8%;
    height: 100%;
    margin: 1%;
}
#NavHeader  .Menu{
    width: 90%;
    margin: 0;padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.MenuSite{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 4%;
}
ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.LogoKD img{
    height: 100%;
    width: 90%;
    display: inline-block;
}
.Sec1{
    background-color:rgb(218,69,80);
    background-image: url("../Img/hero-background.jpg");
    background-size: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 7%;
}
.Sec1 p{
    text-align: center;
    color: rgb(255, 255, 255);
}
.Sec1 p span{
    color: rgb(255,230,77);
}
.FirstPara{
    font-size: 5rem;
    font-weight:900;
    line-height: 100%;
    font-family: 'Montserrat1', sans-serif;
    padding-top: 4%;
}
.ParaBtn{
    margin: 3%;
    width: 90%;
}
.BtnDemander, .BtnPlanifier{
    text-decoration: none;
    border: 3px solid white;
    border-radius: 18px;
    background-color: white;
    
    color: rgb(218,69,80);
    font-size: 1.5em;
    margin: 0.7%;
    padding: 1.2%;
}
.BtnDemander:hover, .BtnPlanifier:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.EndPara{
    font-size: 1.2em;
    width: 61%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.4%;
}
.DivIconeTech{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 1.3%;
    padding-top: 5%;
}
.DivIconeTech img{
    width: 5%;
    height: 3%;
    opacity: 0.7;
}
/*Section 2*/
.Sec2{
    background-color: rgb(241,240,243);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5%;
}
.Div1-Sec2{
    width: 45%;
    height: 50%;
    position: relative;
}
.Div1-1-Img{
    margin-left: -10%;
    width: 80%;
    height: 90%;
    background-size: cover;
    overflow: hidden;
}
.Div1-1-Img img{
    width: 100%;
    height: 100%;
    border: 0px solid rgb(241,240,243);
    border-radius: 30px;
}
.Div1-2-Img{
    position: static;
    position: relative;
    left:31.8%;
    width: 75%;
    height: 65%;
    top: -167px;
}
.Div1-2-Img img{
    width: 80%;
    height: 90%;
    border: 0px solid rgb(241,240,243);
    border-radius: 30px;
}
.Div2-Sec2{
    width: 55%;
    height: auto;
}
.Div2-Sec2 h1{
    color: rgb(66,67,69);
    font-size: 2.1em;
    font-weight: 700;
}
.DivQualif{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.Qualif1, .Qualif2, .Qualif3, .Qualif4{
    width: 40%;
    margin: 3%;
    text-align: center;
}
.Paper, .Monde, .Coupe, .Message{
    width: 15%;
    height: 50%;
    padding-bottom: 10%;
    border-bottom: 2px solid rgb(218,69,80);
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: rgb(66,67,69);
    font-weight: bold;
    margin: 2%;
}
.Message +  h5{
    width: 70%;
    margin: auto;
}
/*Begin Sec3*/
.Sec3{
    width: 100%;
    height: 15%;
    background-color:rgb(218,69,80) ;
    padding-top: 10%;
    margin: auto;
}
.Div1-Sec3{
    width: 90%;
    height: 5%;
    text-align: center;
    margin: auto;
}
.Div1-Sec3 h1{
    width: auto;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 2em;
}
.Div2-Sec3-Container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 5%;
}
.Div2-Sec3-Container div{
    width: 80%;
    height: 50%;
    margin: 3%;
    
}
.ParteneurImg{
    width: 100%;
    height: 100;
}
/*Begin Sec4*/
.Sec4{
    width: 100%;
    height: 20%;
    padding-top: 3%;
    background-color: rgb(241,240,243);
    padding-bottom: 4%;
}
.Div1-Sec4{
    width: 90%;
    margin: auto;
}
.Div1-Sec4 h1{
    color: rgb(57,37,70);
    text-align: center;
    font-size: 3em;
}
.DivContainer-Sec4{
    width: 90%;
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
.Div2-Sec4{
    width: 100%;
    margin: auto;
    border-top: 8px solid rgb(255,230,77);
}
.Div3-Sec4{
    width: 100%;
    margin: auto;
    border-top: 8px solid rgb(218,69,80);
}
.Div2-Sec4, .Div3-Sec4{
    width: 40%;
    height: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}
.SousDiv-Div2, .SousDiv-Div3{
    width: 80;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7%;
}
.SousDiv-Div2 h3 ,.SousDiv-Div3 h3{
    text-align: center;
    padding-bottom: 4%;
    font-size: 2em;
    color: rgb(218,69,80);
}
.SousDiv-Div2 p, .SousDiv-Div3 p{
    color: rgb(66, 67, 69);
    opacity: 0.7;
    text-align: justify;
}
.BtnDemarrer, .BtnEngager{
    width: 80%;
    text-decoration: none;
    border: 3px solid rgb(218,69,80);
    border-radius: 18px;
    background-color: rgb(218,69,80);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 4%;
    padding: 4%; 
}
.BtnDemarrer:hover, .BtnEngager:hover{
    background-color: transparent;
    color: rgb(218,69,80);
}